.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* background-color: #000; */
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /* 平滑切换过渡效果 */
  transition: opacity 0.1s ease-out;
}

.canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /* 平滑切换过渡效果 */
  transition: opacity 0.1s ease-out;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
